@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.user-details-extended {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(5, 37, 219, 0.281);
    border: 1px solid #5822ec79;
    border-radius: 5px;
    text-align: center;
}

.user-details-extended h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.user-details-extended img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    text-align: center;
}

.user-details-extended p {
    margin-bottom: 5px;
    text-align: center;
}

.user-details-extended__repos {
    margin-top: 20px;
}

.repo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid hwb(236 2% 1% / 0.459);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #ccc;
    
}

.repo-item__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.repo-item__description {
    font-size: 14px;
    margin-bottom: 5px;
}

.repo-item__stats {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #000407;
}

.repo-item__stats span {
    margin-right: 10px;
}

.repo-item__language {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.repo-item__language--javascript {
    background-color: #f3ef00;
}

.repo-item__language--html {
    background-color: #03aaf8;
    color: #fff;
}

.repo-item__language--css {
    background-color: #40ccf7;
    color: #fff;
}

.repo-item__language--python {
    background-color: #3572a5;
    color: #fff;
}

.repo-item__language--ruby {
    background-color: #ff0408;
    color: #fff;
}

.user-details-extended__orgs {
    margin-top: 20px;
}

.org-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.org-card {
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: #f2f2f21a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.org-card__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.org-card__name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
